@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@500&family=Roboto&display=swap');

:root {
    --font-roboto: 'Roboto', sans-serif;
    --font-edu-vic: 'Edu VIC WA NT Beginner', cursive;
}

html {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0px;
}

* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--font-roboto);
    background-color: wheat;
}

header {
    font-family: var(--font-edu-vic);
    text-align: center;
    font-style: italic;
    color: wheat;
    font-size: 1.7em;
    padding: 10px 0;
    background: rgb(36, 34, 34);
}

main {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-container {
    max-width: 22em;
    max-height: 28em;
    border-radius: 1em;
    background-color: rgb(36, 34, 34);
    display: flex;
    flex-direction: column;
}

.screen {
    max-width: 300px;
    min-height: 80px;
    background-color: wheat;
    border-radius: 1em;
    margin: 15px 15px 0 25px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: bold;
}

.screen-child-one {
    margin-top: 15px;
    margin-left: 2em;
}

.screen-child-two {
    padding-top: 5px;
    margin-left: auto;
    margin-right: 2em;
}

.buttons-container {
    min-height: 20em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1em 1em;
}

button {
    min-width: 60px;
    max-height: 4em;
    margin: 0 7px;
    border-radius: 50%;
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

button.two-spaces {
    min-width: 134px;
    border-radius: 50%;
}

button:hover {
    background-color: burlywood;
}

button:active {
    background-color: rgb(172, 137, 73);;
}

button > div {
    font-size: 20px;  
    font-weight: 500;
}


footer {
    background: rgb(36, 34, 34);
    min-height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: wheat;
}

.fa.fa-github {
    font-size: 30px;
    margin-left: 10px;
    color: #f5deb3;
}

.fa.fa-github:hover {
    color: burlywood;
    font-size: 36px;
}

.fa.fa-github:active {
    color: rgb(172, 137, 73);
    font-size: 36px;
}